/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply rounded-md px-4 py-2 text-sm font-medium transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2;
  }

  .input-field {
    @apply rounded-md border border-solid border-gray-400 p-2 text-sm text-black focus:outline-none focus:ring-2 focus:ring-sky-400 focus:ring-offset-2;
  }
}

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
